html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
  }
  
  h1,h2,h3,h4,h5,h6 {
    margin: 3em 0 1em;
  }
  
  p,ul,ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
  }
nav {
    display: flex;
    align-items: center;
}

li {
    display: inline-block;
    padding: 0 0.5rem 0 0.5rem;
}

a {
    color: #1d1d1d;
    text-decoration: none;
}

a:hover {
    color: #fff;
    background-color: #1d1d1d;
}